

<div  class="row flex-lg-row align-items-center jumbotron clearfix g-5 mb-4 mt-15 shadow border-bottom" style="margin-top: 20px; padding-top: 0px;">
  
  <!-- <h1 class="h90" style="padding:10px; text-align: left;"> JPR-info 10/sept/223:   ADDHESSION MASSIVE SUR TOUTE L'ETTENDUE DU PAYS  </h1> -->
  
  <h1 class="text-start infoheader border-bottom" style="margin-top: 10px;">JPR-info 10/sept/223:   ADDHESSION MASSIVE SUR TOUTE L'ETTENDUE DU PAYS  </h1>
  
  
  <div class="col-12 col-lg-6">
    <img
      src="/img/nulago.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="STD-Congo"
    />
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-7 mb-3">
      Chers JUSTES PATRIOTES POUR LA REPUBLIQUE
    </h1>
    <p class="mainmessage">
      Chers camarades et futurs bâtisseurs du changement,   <br />
      C'est avec un profond honneur que je vous accueille sur le site virtuel de Justes Patriotes pour la Republique "JPR". En tant que chef du parti, je suis ravi de vous adresser mes salutations les plus chaleureuses et de vous inviter à vous joindre à nous pour un incroyable voyage de transformation communautaire.
      <br />
      C'est avec un profond honneur que je vous accueille sur le site virtuel de Justes Patriotes pour la Republique "JPR". En tant que chef du parti, je suis ravi de vous adresser mes salutations les plus chaleureuses et de vous inviter à vous joindre à nous pour un incroyable voyage de transformation communautaire.
     
      <br />
      C'est avec un profond honneur que je vous accueille sur le site virtuel de Justes Patriotes pour la Republique "JPR". En tant que chef du parti, je suis ravi de vous adresser mes salutations les plus chaleureuses et de vous inviter à vous joindre à nous pour un incroyable voyage de transformation communautaire.
     
      
    </p>
    <p class="mainmessage">
      L'objectif de notre MISSION EST DE .....
      
    </p>
  </div>
</div>


<div
  class="row infobox flex-lg-row-reverse align-items-center jumbotron clearfix g-5 mb-4 shadow border-bottom" style="margin-top: 20px; padding-top: 0px;">

 <h1 class="text-start infoheader shadow border-bottom" style="margin-top: 0px; ">JPR-info 10/sept/223:   ADDHESSION MASSIVE SUR TOUTE L'ETTENDUE DU PAYS  </h1>
  <div class="col-12 col-lg-6">
    <img
      src="/img/nulago.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="STD-Congo"
    />
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-7 mb-3">
      Expert Service bureau modern et la cyber securite
    </h1>
    <p class="lead">
      Nos services de conseil en espace de travail moderne sont conçus pour
      aider les organisations à optimiser leurs espaces de travail afin de mieux
      répondre aux besoins de leurs employés et objectifs commerciaux. À mesure
      que les lieux de travail évoluent, les entreprises doivent s'adapter pour
      suivre les évolutions de la technologie, des préférences des employés et
      des normes de l'industrie. Nos consultants travaillent en étroite
     
      
    </p>
    <p class="lead">
      L'objectif de notre MISSION EST DE .....
      
    </p>
  </div>
</div>

<div
  class="row flex-lg-row-reverse align-items-center jumbotron clearfix g-5 mb-4 shadow border-bottom" style="padding-top: 0px;"
>

<h1 class="text-start infoheader border-bottom" style="margin-top: 10px">JPR-info 10/sept/223:   ADDHESSION MASSIVE SUR TOUTE L'ETTENDUE DU PAYS  </h1>

  <div class="col-12 col-lg-6">
    <img
      src="/img/nulago.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="STD-Congo"
    />
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-7 mb-3">
      Expert Service bureau modern et la cyber securite
    </h1>
    <p class="lead">
      Nos services de conseil en espace de travail moderne sont conçus pour
      aider les organisations à optimiser leurs espaces de travail afin de mieux
      répondre aux besoins de leurs employés et objectifs commerciaux. À mesure
      que les lieux de travail évoluent, les entreprises doivent s'adapter pour
      suivre les évolutions de la technologie, des préférences des employés et
      des normes de l'industrie. Nos consultants travaillent en étroite
     
      
    </p>
    <p class="lead">
      L'objectif de notre MISSION EST DE .....
      
    </p>
  </div>
</div>


<div
  class="row flex-lg-row-reverse align-items-center jumbotron clearfix g-5 mb-4 shadow border-bottom" style="padding-top: 0px;"
 >
  <div class="col-12 col-lg-6">
    <img
      src="/img/nulago.png"
      width="607"
      height="510"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
      alt="STD-Congo"
    />
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-7 mb-3">
      Expert Service bureau modern et la cyber securite
    </h1>
    <p class="lead">
      Nos services de conseil en espace de travail moderne sont conçus pour
      aider les organisations à optimiser leurs espaces de travail afin de mieux
      répondre aux besoins de leurs employés et objectifs commerciaux. À mesure
      que les lieux de travail évoluent, les entreprises doivent s'adapter pour
      suivre les évolutions de la technologie, des préférences des employés et
      des normes de l'industrie. Nos consultants travaillent en étroite
     
      
    </p>
    <p class="lead">
      L'objectif de notre MISSION EST DE .....
      
    </p>
  </div>
</div>




<section class="text-center">
  <h1 class="infoheader">Votre reve! notre realisation</h1>
  <img
    src="/img/nulago.png"
    class="d-block mx-auto mb-4 img-fluid"
    alt="Publish your recipe for FREE today"
    width="300"
    height="250"s
    loading="lazy"
  />
  <img
    src="/img/nulago.png"
    class="d-block mx-auto mb-4 img-fluid"
    alt="Develop your web with Matabishi Ntamako"
    width="80"
    height="30"
    loading="lazy"
  />
</section>


<section class="text-center">
  <h1 class="infoheader">Titre du Message</h1>

  <div class="col-lg-8 mx-auto">
    <p class="lead">
      Kalonge est le meilleur village pour l'avenir de l'humanite :), 
    </p>
    <p class="lead mb-2">
      zone des membres: <a href="/login"> Si vous etez deja enregistre/ clicker ici pour vous connecter</a>
    </p>
    <p class="lead mb-2">
      zone des membres: <a href="/Register"> Sinon, Enregistez-vous dabord par ici </a>
    </p>
    <img src="/img/congoflag.png" />
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!-- <a href="/register" class="btn btn-primary btn-dark btn-lg">Enregistrez-vous et envoie votre requestion directement</a> -->
    </div>
  </div>
  <img
    src="/img/project.png "
    class="mx-auto aboutimage w-100"
    alt=" Maison Tumaini kalonge"
    width="800"
    height="300"
    loading="lazy"
  />

  
  

  <p class="lead">
    Bienvenue a L'ATNC, un monde où les bits et la brillance se fondent, et où l'innovation reçoit une mise à jour numérique.
    <br />
    une preparation à vous embarquer dans un voyage qui éclaire votre esprit et allume votre destin numérique ?
    <br />
    Préparez-vous à découvrir un trésor de cours informatiques en ligne qui feront de vous un pionnier du numérique ! Du déverrouillage des mystères de l'informatique en nuage au déploiement du pouvoir de la cybersécurité et à la création de merveilles web - nous sommes ici pour rendre votre voyage technologique extraordinaire.
    <br/>
    "Tout comme les planificateurs avisés ont construit l'arche, laissons-nous guider votre voyage technologique." 
    <br />
    - Cyberticles 4:13
    <br />
    Comme le dit le Progverbes 4:13 : "Je peux programmer toutes choses grâce au code qui me renforce."
    Puissent vos projets technologiques prospérer, votre connaissance s'élargir, et votre voyage numérique être rempli de moments "Eurêka!".


    <h2>Contactez-nous aujourd'hui pour une consultation avec l'un de nos experts.</h2>
  </p>
</section>


