<h1 class="text-center">Contacte-nous sur les liens suivants:</h1>
<br />


 
<!-- <Section class=" col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex-inline flex-row shadow-lg border-bottom">

  <div class=" cards" style="width: 100%;">
  <div class="card-body">
    <p class="card-text">Voix des membres</p>
    <h5 class="card-title">Directeur Administrateur</h5>
    <p class="card-text">Mobile: +xxxxxxxxxxxx</p>
    <p class="card-text">Email: info@jpr.com</p>
  </div>
  <hr />
  
  <div class="card-body">
    <p class="card-text">Equipe Techniques</p>
    <h5 class="card-title">Directeur Administrateur</h5>
    <p class="card-text">Mobile: +xxxxxxxxxxxxx</p>
    <p class="card-text">Email: info@jpr.com</p>
  </div>
  <hr />
  <div class="card-body">
    <p class="card-text">Admin DR Congo Kin</p>
    <h5 class="card-title">DG</h5>
    <p class="card-text">Mobile: +xxxxxxxxxxxx</p>
    <p class="card-text">Email: info@jpr.com</p>
  </div>

  </div>
</Section> -->

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow ">Contactes Direction Generale</h5>
        <h5 class="card-title">Bob TB </h5>
        <p class="card-text"><p class="card-text">Mobile: +xxxxxxxxxxxx</p></p>
        <p class="card-text">Email: info@jpr.com</p>
        <a href="#" class="btn btn-success text-warning  shadow-lg  border-bottom">envoyer par ce site directement </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title shadow-lg  ">Information Generale</h5>
        <h5 class="card-title">Jo PT</h5>
        <p class="card-text">Mobile: +xxxxxxxxxxxx</p>
        <p class="card-text">Email: info@jpr.com</p>
        <a href="#" class="btn btn-success text-warning shadow-lg  border-bottom"> envoyer par ce site directement</a>
      </div>
    </div>
  </div>
</div>