


<div class="row flex-lg-row-reverse jumbotronjpr align-items-center g-5 py-4 mb-4 shadow border-bottom" style="margin: 0px;">
  <div class="col-12 col-lg-6">
    <img src="/img/MzeeA.png" alt=" Honorable Grégoire Mirindi " style="padding-bottom: 15px; width: 90%;">
  </div>

  <div class="col-12 col-lg-6" style="margin-top: 0px;">
    <h1 class="text-start">
      Chers JUSTES PATRIOTES POUR LA REPUBLIQUE
    </h1>
    <p class="text-start">
      Bienvenue a la site officielle du JPR, Ensemble, nous transformons ! 
      </p> 
      <P class="mainmessage">
    
      Chers camarades et futurs bâtisseurs du changement,   <br />
      C'est avec un profond honneur que je vous accueille sur le site virtuel de Justes Patriotes pour la Republique "JPR". En tant que chef du parti, je suis ravi de vous adresser mes salutations les plus chaleureuses et de vous inviter à vous joindre à nous pour un incroyable voyage de transformation communautaire.
      <br />
      C'est avec un profond honneur que je vous accueille sur le site virtuel de Justes Patriotes pour la Republique "JPR". En tant que chef du parti, je suis ravi de vous adresser mes salutations les plus chaleureuses et de vous inviter à vous joindre à nous pour un incroyable voyage de transformation communautaire.
      


      <h1>Enregistrez-vous aujourd'hui pour devenir l'un de membres actif de ......</h1>
    </p>

    <div class="d-grid gap-2 d-md-flex p-10 justify-content-md-start">
      <!-- <a href="/login" class="btn btn-primary btn-dark btn-lg px-4 me-md-2"
        >Ce que disent les membres</a> -->

      <a href="/api/users/register" class="btn bg-success text-warning me-md-2"
        > Enregistrez-vous pour devenir  membres et beneficier a plus </a
      >
    </div>
  </div>
</div>

<!-- Categories Start -->
<section class="row flex-lg-row jumbotronjpr text-center g-4 py-4 mb-4 shadow-lg border-bottom" style="margin-top:10px; ">
  <h1 style="margin-top: 0px">Pourquoi nous rejoindre</h1>
  <p style="margin-top: 0px">
    Au sein de JPR, nous sommes bien plus qu'une simple entité politique ; nous sommes une communauté unie par une vision commune d'un avenir plus radieux. Notre engagement est inébranlable, et notre mission est claire : provoquer une transformation qui touchera chaque aspect de nos vies et élèvera nos communautés dans les domaines de l'éducation, de la santé, de l'infrastructure, de l'agriculture, de la technologie et bien plus encore. <br />

    
  </p>
</section>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 jumbotronjpr shadow-lg border-bottom" style="margin-top:0px">
  <a href="down" class="col text-center category__link">
      
    <div class="category__img shadow">
      <img  src="/img/nulago.png"  width="24" height="24" alt="JPR" loading="lazy"  />
    </div>

    <div class="pt-1">Message categorie5</div>
  </a>
  <a href="down" class="col text-center category__link">
   

    <div class="category__img shadow">
      <img  src="/img/nulago.png"  width="24" height="24" alt="JPR" loading="lazy"  />
    </div>
    <div class="pt-1">
      Message categorie4
    </div>
  </a>

  <a href="down" class="col text-center category__link">
    
    <div class="category__img shadow">
      <img  src="/img/nulago.png"  width="24" height="24" alt="JPR" loading="lazy"  />
    </div>
    <div class="pt-1">
      Message categorie3
    </div>
  </a>

  <a href="down" class="col text-center category__link">
   
    <div class="category__img shadow">
      <img  src="/img/nulago.png"  width="24" height="24" alt="JPR" loading="lazy"  />
    </div>
    <div class="pt-1">
      Message categorie2
    </div>
  </a>

  <a href="down" class="col text-center category__link">
    
    <div class="category__img shadow">
      <img  src="/img/nulago.png"  width="24" height="24" alt="JPR" loading="lazy"  />
    </div>
    <div class="pt-1">Message categorie1</div>
  </a>

  <a href="/down" class="col text-center category__link">
    <div class="category__img shadow">
      <img  src="/img/nulago.png"  width="24" height="24" alt="Toutes les info" loading="lazy"  />
    </div>
    <div class="pt-1">Liste De tous nos Publications</div>
  </a>
</div>
<!-- Categories End -->

<!-- Latest Start -->

<!-- Latest End -->


<br />



<section class="text-center jumbotronjpr shadow-lg border-bottom">
  <h1 style="padding-left: 10px; margin-bottom: 15px;">Publications et Commentaires publiques</h1>
  <p>
    Au sein de JPR, nous sommes bien plus qu'une simple entité politique ; nous sommes une communauté unie par une vision commune d'un avenir plus radieux. Notre engagement est inébranlable, et notre mission est claire : provoquer une transformation qui touchera chaque aspect de nos vies et élèvera nos communautés dans les domaines de l'éducation, de la santé, de l'infrastructure, de l'agriculture, de la technologie et bien plus encore. <br />

    
  </p>


  
</section>